@model Ecommerce.ModelsView.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y py-5">
        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header justify-content-between align-items-center">
                        <h5 class="mb-0" style="text-align:center">Đăng Ký</h5>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-3"></div>
                        <form asp-action="Register" method="post" enctype="multipart/form-data" class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label">Tên Sản Phẩm</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Avatar</label>
                                <input type="file" name="file" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserEmail" class="control-label"></label>
                                <input asp-for="UserEmail" class="form-control"/>
                                <span asp-validation-for="UserEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserPhone" class="control-label"></label>
                                <input asp-for="UserPhone" class="form-control" />
                                <span asp-validation-for="UserPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserPass" class="control-label"></label>
                                <input asp-for="UserPass" type="password" class="form-control" />
                                <span asp-validation-for="UserPass" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group pt-4 col">
                                    <input type="submit" asp-action="Register" asp-controller="Accounts" value="Register" class="btn btn-primary" />
                                </div>
                                <div class="form-group pt-4 col-3 ps-5">
                                    <a asp-action="Login" asp-controller="Accounts" class="btn btn-primary">Login</a>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

