@model Ecommerce.Models.TblCart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>TblCart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CartDate" class="control-label"></label>
                <input asp-for="CartDate" class="form-control" />
                <span asp-validation-for="CartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <select asp-for="CustId" class ="form-control" asp-items="ViewBag.CustId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

