@model IEnumerable<Ecommerce.Models.TblProductsPromotion>
@{
	ViewData["Title"] = "Trang Chủ";
}

		<!-- Start Hero Section -->


<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Family Báo <span clsas="d-block">E-Commerce Web</span></h1>
					<p class="mb-4">Trang thương mại điện tử bán thiết bị điện tử tuyệt vời nhất dành cho ví tiền của bạn.</p>
					<p><a asp-action="Index" asp-controller="Shop" class="btn btn-secondary me-2">Shop Now</a><a  class="btn btn-white-outline">Explore</a></p>
				</div>
			</div>
			<div class="col-lg-7">
                <div class="hero-img-wrap">
					<img src="~/assets/img/backgrounds/iphone-13-pro-png.png" class="img-fluid ms-lg-5" style="max-width: 500px" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0 mt-5">
				<h2 class="mb-4 section-title">Khám Phá Ngay Những Sản Phẩm Đang Có Khuyễn Mãi</h2>
				<p class="mb-4">Các chương trình khuyến mãi đang được áp dụng đặc biệt chỉ có trong thời gian này sao bạn không ghé qua để có thế tham khảo những dòng sản phẩm đang được giảm giá lớn</p>
				<p><a class="btn" href="/shop.html">Explore</a></p>
			</div>
			@*các cột cần thêm váo sesion*@
			@if(Model != null && Model.Count() > 0)
			{
				@foreach (var item in Model)
				{
					string url = $"/shop/{item.Product.ProductSeo}-{item.ProductId}.html";
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 mt-5">
						<div class="product-item">
							<a href="@url">
								<img src="~/assets/img/products/@item.Product.ProductPic" class="img-fluid product-thumbnail">
								<h3 class="product-title" >@item.Product.ProductName</h3>
								<p class="product-price text-decoration-line-through">@item.Product.ProductPrice.Value.ToString("#,##0")VNĐ</p>
								<strong class="product-price">@((item.Product.ProductPrice - (item.Product.ProductPrice * item.Promo.PromoDiscount / 100)).Value.ToString("#,##0"))VNĐ </strong>
							</a>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Tại Sao Lại Chọn Chúng Tôi</h2>
				<p>Với những chính sách hỗ trợ khách hàng, để tăng thêm phần thân thiện với khách hàng chúng tôi đã và đang áp dụng các tiện ích dưới đây</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/assets/img/backgrounds/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							<p>Free ship nội thành các thành phố lớn như Hà Nội, Tp.Hồ Chí Minh.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/assets/img/backgrounds/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
							<p>Dễ dàng mua sắm ở ngay trong chính căn nhà của bạn chỉ cần cầm chiếc điện thoại và đặt hàng.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/assets/img/backgrounds/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
							<p>Đội ngũ tư vấn sãn sàng trực 24/24 có thể giải đáp thắc mắc của bạn ở mọi lúc.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/assets/img/backgrounds/return.svg" alt="Image" class="imf-fluid" />
							</div>
							<h3>Free Returns</h3>
							<p>Chính sách đổi trả miễn phí trong vòng từ 0-7 ngày kể từ ngày nhận hàng nếu như sản phẩm ko như mô tả.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="~/assets/img/backgrounds/tgnz-iphone-12-pro-max.webp" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start Popular Product -->
<div class="popular-product">
	<div class="container">
		<div class="row">
			<h2 class="mb-4 section-title py-5" style="text-align: center">Người Thực Hiện Dự Án</h2>
			<div>
				<div class="product-item-sm">
					<div class="thumbnail">
						<img src="~/assets/img/avatars/me.jpg" style="max-width:200px; -webkit-margin-start:42.5%" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3" style="text-align:center">
						<h3>Đoàn Văn Đức</h3>
						<p>MSSV: 46.01.104.036</p>
						<p><a href="https://www.facebook.com/king152001">About more</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Popular Product -->
@section Scripts{
	<script>
		$(document).ready(function () {
			$(".add-to-cart").click(function () {
				var productid = $('#ProductId').val();
				var soLuong = $('#txtsoLuong').val();
				$.ajax({
					url: '/api/cart/add',
					type: "POST",
					dataType: "JSON",
					data: {
						productId: productid,
						amount: soLuong
					},
					success: function (response) {
						if (response.result == 'Redirect') {
							window.location = response.url;
						}
						console.log(reponse);
					},
					error: function (erro) {
						alert("Có một lỗi posting dữ liệu lên csdl: " + erro.responseText);
					}
				});
			});
		});
	</script>
}