@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Family Báo <span clsas="d-block">E-Commerce Web</span></h1>
					<p class="mb-4">Trang thương mại điện tử bán thiết bị điện tử tuyệt vời nhất dành cho ví tiền của bạn.</p>
					<p><a asp-action="Index" asp-controller="Shop" class="btn btn-secondary me-2">Shop Now</a><a class="btn btn-white-outline">Explore</a></p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/assets/img/backgrounds/iphone-13-pro-png.png" class="img-fluid ms-lg-5" style="max-width: 500px" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="why-choose-section">
	<div class="container">


		<div class="row my-5">
			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
                        <img src="~/assets/img/icons/truck.svg" alt="Image" class="imf-fluid">
					</div>
					<h3>Fast &amp; Free Shipping</h3>
					<p>Vận chuyển nhanh chóng với các dịch vụ hỗ trọ vận chuyển đang có uy tín lớn nhất toàn quốc</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/assets/img/icons/bag.svg" alt="Image" class="imf-fluid">
					</div>
					<h3>Easy to Shop</h3>
					<p>Dễ dàng thao tác, các bước mua hàng chỉ đơn giản là những cú chạm tay</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
                        <img src="~/assets/img/icons/support.svg" alt="Image" class="imf-fluid">
					</div>
					<h3>24/7 Support</h3>
					<p>Hỗ trợ khách hàng 24/24 với đội ngũ trực hệ thống có thể tư vấn cho khách 24/24 qua chat support</p>
				</div>
			</div>

			<div class="col-6 col-md-6 col-lg-3 mb-4">
				<div class="feature">
					<div class="icon">
						<img src="~/assets/img/icons/return.svg" alt="Image" class="imf-fluid">
					</div>
					<h3>Hassle Free Returns</h3>
					<p>Có quy trình đổi trả hàng dễ dàng cho khách hàng nếu mặt hàng không đúng với mô tả của sản phẩm</p>
				</div>
			</div>

		</div>

	</div>
</div>