@model List<TblProduct>

@if (Model != null)
{
    @foreach (var item in Model)
    {
		string url = $"/shop/{item.ProductSeo}-{item.ProductId}.html";
		<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 mt-5">
			<a class="product-item" href="@url">
				<img src="~/assets/img/products/@item.ProductPic" class="img-fluid product-thumbnail">
				<h3 class="product-title">@item.ProductName</h3>
				<strong class="product-price">@((item.ProductPrice).Value.ToString("#,##0"))VNĐ </strong>
				<span class="icon-cross">
					<img src="~/assets/img/favicon/cross.svg" class="img-fluid">
				</span>
			</a>
		</div>
    }
}