@model Ecommerce.Models.TblProduct

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
    IEnumerable<TblProductPic> pics = ViewBag.Pic;
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản Lý Sản Phẩm/</span> Sửa Sản Phẩm</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Sửa Sản Phẩm Mới</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ProductId" type="hidden"/>
                            <input asp-for="ProductPic" type="hidden" />
                            <div class="form-group">
                                <label asp-for="ProductName" class="control-label">Tên Sản Phẩm</label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Hình Ảnh Sản Phẩm</label>
                                    <img class="img-fluid rounded form-control" src="~/assets/img/products/@Model.ProductPic" style="max-width: 150px" alt="" />
                                    <input type="file" name="file" class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Hình Ảnh Phụ Sản Phẩm</label>
                                    @{
                                        if(pics.Count() > 0)
                                        {
                                            foreach (var item in pics)
                                            {
                                                <img class="img-fluid rounded form-control" src="~/assets/img/products/@item.PicName" style="max-width: 150px" alt="" />
                                                <input type="button" class="btn btn-danger btn-sm" />
                                            }
                                        }
                                        else
                                        {
                                            <img class="img-fluid rounded form-control" src="~/assets/img/products/11771974_0.jpg" style="max-width: 185px" alt="" />
                                        }

                                    }
                                    <input type="file" name="mfile" class="form-control" multiple />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Color" class="control-label">Màu Sắc</label>
                                <select asp-for="Color" class="form-control" asp-items="ViewBag.ColorId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="StockQuantity" class="control-label">Tồn Kho</label>
                                <input asp-for="StockQuantity" class="form-control" />
                                <span asp-validation-for="StockQuantity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EcatId" class="control-label">Ngành Hàng</label>
                                <select asp-for="EcatId" class="form-control" asp-items="ViewBag.EcatId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductDes" class="control-label">Mô Tả Sản Phẩm</label>
                                <textarea id="basic-default-message" class="form-control" placeholder="Mô tả sản phẩm" asp-for="ProductDes"></textarea>
                                <span asp-validation-for="ProductDes" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductStatus" class="control-label">Trạng Thái</label>
                                <select asp-for="ProductStatus" class="form-control">
                                    <option value="Active">Active</option>
                                    <option value="Hidden">Hidden</option>
                                    <option value="Unactive">Unactive</option>
                                </select>
                                <span asp-validation-for="ProductStatus" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProductPrice" class="control-label">Giá Bán</label>
                                <input asp-for="ProductPrice" class="form-control" />
                                <span asp-validation-for="ProductPrice" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="form-group pt-4 col">
                                    <input type="submit" asp-action="Edit" asp-controller="Products" asp-area="admin" value="Save" class="btn btn-primary" />
                                </div>
                                <div class="form-group pt-4 col-2">
                                    <a asp-action="Index" asp-controller="Products" asp-area="admin" class="btn btn-primary">Back to list</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>